<ion-view  name="query-view">
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-title>
     solrojo
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding" onscroll="false">

    <label class="item item-input">
      <span>改动的价格:</span>
      <span>{{item.priceShow}}</span>
    </label>

    <div class="list" style="background-color: transparent;">

      <div class="item item-divider" style="background-color: transparent;border-top:0px;">
        商品组名:{{item.groupName}}
      </div>

      <button ng-click="selectAll()" style="background-color: #e5e5e5;margin-left: 65%;">
        全选
      </button>

      <button ng-click="selectNo()" style="background-color: #e5e5e5;margin-left: 5%;">
        全不选
      </button>

      <div class="item" ng-repeat="good in relatedGoods" style="background-color: transparent;padding: 0;">

        <div class="row" ng-click="good_check(good)">
          <div class="col-45" style="padding-top: 1%;padding-left: 15%;padding-right:8%;">
            <span>{{good.codigo}}</span>
          </div>
          <div class="col-45" style="padding-top: 1%;">
            <span>{{good.nombre}}</span>
          </div>
          <div class="col-10" style="position: absolute;font-size: 180%;">
            <i ng-if="good.checked!=true" class="ion-ios-checkmark-outline"></i>
            <i ng-if="good.checked==true" class="ion-ios-checkmark"></i>
          </div>

        </div>
      </div>
    </div>

    <div class="button-bar bar-positive">

      <button class="button" ng-click="changePriceRelated()">
        改价
      </button>

      <button class="button" ng-click="goto('/query')">
        返回
      </button>
    </div>


  </ion-content>


</ion-view>

