<ion-view  name="query-view">
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-title>
      {{user.username}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding" onscroll="false">

    <label class="item item-input">
      <span>改动的价格:</span>
      <span>{{item.priceShow}}</span>
    </label>

    <div class="list" style="background-color: transparent;">

      <div class="item item-divider" style="background-color: transparent;border-top:0px;">
        商品组名:{{item.groupName}}
      </div>

      <button ng-click="selectAll()" style="background-color: #e5e5e5;">
        全选
      </button>

      <button ng-click="selectNo()" style="background-color: #e5e5e5;margin-left: 5%;">
        全不选
      </button>

      <div class="item" ng-repeat="good in relatedGoods" style="background-color: transparent;padding: 0;">

          <div  ng-click="good_check(good)">
            <div class="col-10" style="position: absolute;font-size: 180%;">
              <i ng-if="good.checked!=true" class="ion-ios-checkmark-outline"></i>
              <i ng-if="good.checked==true" class="ion-ios-checkmark"></i>
            </div>

            <div class="col-40" style="margin-left:10%;display: inline-block;">
              <div>
                <span>商品条码:</span>
              </div>

              <div>
                <span>商品名称:</span>
              </div>

            </div>

            <div class="col-50" style="display: inline-block;">
              <div>
                <span>{{good.codigo}}</span>
              </div>

              <div>
                <span>{{good.goodName}}</span>
              </div>

            </div>
          </div>
      </div>
    </div>

    <div class="button-bar bar-positive">

      <button class="button" ng-click="changePriceRelated()">
        改价
      </button>

      <button class="button" ng-click="goto('/query')">
        返回
      </button>
    </div>


  </ion-content>


</ion-view>

