<ion-view  name="query-view">
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-title>
      {{user.username}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding" onscroll="false">
    <label class="item item-input">
      <span>请输入条码最后四位</span>
      <input type="tel" ng-model="goods.codeNum" maxlength="4" ng-change="queryGoodsCode()" >
      <i class="icon ion-close-circled" style="font-size:30px" on-tap="doClearGoodCode()" ng-if="goods.codeNum"></i>
    </label>
    <div class="button-bar bar-positive">
      <button class="button" ng-click="savePrice()">
        保存
      </button>
      <button class="button" ng-click="addGoods()">
        添加
      </button>
    </div>

    </ion-footer-bar>
  </ion-content>



  <script id="codeNum.html" type="text/ng-template">
    <div class = "modal">
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="code in barCodes track by $index" ng-click="func(code.value)">
            {{code.value}}
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </script>
</ion-view>

