<ion-view  name="query-view">
  <ion-nav-bar class="bar-positive" align-title="center">
    <ion-nav-title>
      {{user.username}}
    </ion-nav-title>
  </ion-nav-bar>
  <ion-content class="padding" onscroll="false">
    <label class="item item-input">
      <span>请输入条码最后四位</span>
      <input type="tel" ng-model="goods.codeNum" maxlength="4" ng-change="queryGoodsCode()" >
      <i class="icon ion-close-circled" style="font-size:30px" on-tap="doClearGoodCode()" ng-if="goods.codeNum"></i>
    </label>



    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          yifu
        </div>
        <select ng-model="selected.product" ng-options="m.productName  for m in model" ng-change="getSelected()">
        </select>
      </label>
    </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            rubroId
          </div>
          <select style="font-size: 16px" ng-model="catalogFirst"
                  ng-options="ob.label for ob in catalogArrFirsts"  ng-change="getcatalogSecondInfo()" >
          </select>
        </label>
        </div>
      </div>
      <div class="list" >
        <label class="item item-input item-select" >
          <div class="input-label">
            marcaId
          </div>
          <select style="font-size: 16px" ng-options="ob.label for ob  in catalogArrSeconds"
                  ng-model="catalogSecond"   ng-change="gecatalogThirdInfo()">
          </select>
        </label>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            presentacionId
          </div>
          <select style="font-size: 16px" ng-options="ob.label for ob in catalogArrThirds"
                  ng-model="catalogThird">
          </select>
        </label>
      </div>





    <div class="list">
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            sizeValue
          </div>
          <select style="font-size: 16px" ng-model="sizeValue"
                  ng-options="label as label for (value,label) in sizeValueArray"  ng-change="getsizeUnitArrs()" >
          </select>
        </label>
      </div>
      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            sizeUnit
          </div>
          <select style="font-size: 16px" ng-options="value as value for value in sizeUnitArray"
                  ng-model="sizeUnit">
          </select>
        </label>
      </div>
    </div>



      <div class="list">
        <label class="item item-input item-select">
          <div class="input-label">
            tax
          </div>
          <select style="font-size: 16px" ng-model="taxId"
                  ng-options="value as value for (key,value) in sizeUnitArrs">
          </select>
        </label>
      </div>







    <div class="button-bar bar-positive">
      <button class="button" ng-click="savePrice()">
        保存
      </button>
      <button class="button" ng-click="addGoods()">
        添加
      </button>
    </div>

    </ion-footer-bar>
  </ion-content>


  <script id="codeNum.html" type="text/ng-template">
    <div class = "modal">
      <ion-content>
        <ion-list>
          <ion-item ng-repeat="code in barCodes track by $index" ng-click="func(code.codigo)">
            {{code.codigo}}
          </ion-item>
        </ion-list>
      </ion-content>
    </div>
  </script>
</ion-view>

